@model TitleViewModel
@using MALLikeSite.Models
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Title details";
}

<h1>Title details</h1>

<div class="">
    <p>Name: @Model.Name</p>
    <p>Genre: @Model.Genre</p>
    <p>Description: @Model.Description</p>
    <p>ReleaseDate: @Model.ReleaseDate</p>
    <p>UserRating: @Model.UserRating</p>
    <p>AverageRating: @Model.AverageRating</p>
    <p>Characters: @Model.Characters</p>
    <p>Staffs: @Model.Staffs</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> <a asp-action="Edit" asp-controller="Title" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a></td>
            <td> <a asp-action="Delete" asp-controller="Title" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a></td>
        </tr>
        <div>
            <p></p>
            <form method="post" action="@Url.Action("AddToMyList", "Title")">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Add to My List</button>
            </form>
        </div>
    </tbody>
</table>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to list</a>